services:
  php:
    image: php:8.2-apache
    container_name: php_app
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html
    environment:
      ADMIN_PASSWORD_HASH: $$2y$$10$$uGOSqPPSumVtShGwmxdR9ucpUoV0TnCm1dVLQKLgiltmh5hnH5DkG