body{
    margin: 0%;
    background-color: rgb(248, 250, 252);
}

nav{
    background-color: rgb(15, 23, 42);
}

#bootstrap-overrides .nav-link { 
    
  color: rgb(248, 250, 252);    
}

#bootstrap-overrides #viewtable :not(button), #viewtable-container, .modal-body {
    background-color: rgb(241, 245, 249);
    margin-right: 15%;
    margin-top: 6%;
}

img{
    margin-right: 15%;
}


textarea {
  field-sizing: content;
}

#addbutton{
    background-color: rgb(228, 152, 38);
    color: black;
    margin-right: 15%;
    margin-top: 6%;
}

#addbutton:hover{
    background-color: rgb(224, 140, 13);
}

#editbutton{
    background-color: rgb(59, 130, 246);
    color: #fff;
}

#editbutton:hover{
    background-color: rgb(37, 99, 235);
}

#viewtable-container {
    max-height: 60vh;
    width: 50vw;
}

@media (max-width: 768px) {
    #viewtable-container {
        width: 95vw;
        max-height: 80vh;
        margin:0%
    }
}

#bootstrap-overrides .text-truncate{
    text-overflow:unset;
}

#bootstrap-overrides .modal-body, textarea{
    white-space: pre-line;
}

#bootstrap-overrides main{
    position: relative;
    background: none;
    height: 100%;
    overflow: hidden;
}

#bootstrap-overrides main::before {
  content: "";
    position: absolute;
    inset: 0;
    background-image: url("../img/Background.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.9; 
    z-index: -1;
    
}

#bootstrap-overrides .about{
    width:45vw;
    font-size: 1.13em;
}

@media (max-width: 768px) {
    #bootstrap-overrides .about {
        width: 95vw;
        max-height: 70vh;
        margin:0%
    }
}