body{
    margin: 0%;
    background-color: rgb(248, 250, 252);
}

nav{
    background-color: rgb(15, 23, 42);
}

#bootstrap-overrides .nav-link { 
    
  color: rgb(248, 250, 252);    
}

#bootstrap-overrides #addform, #viewtable :not(button) {
    background-color: rgb(241, 245, 249);
}

textarea {
  field-sizing: content;
}

#addbutton{
    background-color: rgb(37, 99, 235);
    color: #fff;
}

#addbutton:hover{
    background-color: rgb(30, 64, 175);
}

#editbutton{
    background-color: rgb(59, 130, 246);
    color: #fff;
}

#editbutton:hover{
    background-color: rgb(37, 99, 235);
}

#viewtable-container{
    height: 60vh;
    width: 50vw;
}

#bootstrap-overrides .text-truncate{
    text-overflow:unset;
}
