body{
    margin: 0%;
    text-align: center;
    background-color: rgb(11, 177, 177);
    color: white;
}

main{
    display: flex;
    justify-content: center;
}

nav{
    background-color: rgb(22, 22, 95);
    place-items: center;
    
}
#Menu{
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 50%;
    height: 6vh;
    margin: 0%;
    align-items: center;
    justify-content: space-between;
    list-style-type:none;
    
}

a{
    text-decoration: none;
    color: white;
    
}

a:hover{
    color:gold
}

#Eventos{
    width: 70vw;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
  border-radius: 3%;
  background-color: rgb(12, 203, 228);
}