body{
    margin: 0%;
    text-align: center;
}

nav{
    background-color: rgb(22, 22, 95);
    display: grid;
    place-items: center;
}
#Menu{
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 50%;
    height: 8vh;
    margin: 0%;
    align-items: center;
    justify-content: space-between;
    list-style-type:none;
    
}

a{
    text-decoration: none;
    color: white;
}

text{
    color: black;
}